* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #222429;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
  font-family: "IBM Plex Mono", monospace;
  color: white;
}

.border-bottom {
  border-bottom: 1px solid #cfd2b2;
}

.list-of-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav {
  height: 25vw;
}

.nav-list {
  height: inherit;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.nav-list a {
  text-decoration: none;
  font-family: "IBM Plex Mono", monospace;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 25vw;
  height: 25vw;
  border: 1px solid #cfd2b2;
  border-right: none;
}

.nav-list a:last-child {
  border-right: 1px solid #cfd2b2;
}

.nav-list a:hover {
  color: black;
  text-decoration: underline;
  background-color: #cfd2b2;
}
.current-page {
  text-decoration: underline;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.home-page-article {
  width: 100%;
  margin: 5px;
  text-align: center;
}

footer ul {
  display: flex;
  flex-flow: row wrap;
}

footer ul a {
  color: black;
  border: 1px solid #222429;
  border-right: none;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cfd2b2;
}
