/* -----------------General------------------ */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #222429;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
  font-family: "IBM Plex Mono", monospace;
  font-weight: lighter;
  color: white;
}

/* -----------------Header------------------ */
.list-of-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-list {
  height: inherit;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.nav-list a {
  text-decoration: none;
  font-family: "IBM Plex Mono", monospace;
  color: white;
  flex: 1 1 25vw;
  height: 25vw;
  border: 1px solid #cfd2b2;
  border-right: none;
}

.nav-list a:last-child {
  border-right: 1px solid #cfd2b2;
}

.nav-list a:hover {
  color: black;
  text-decoration: underline;
  background-color: #cfd2b2;
}

.current-page {
  text-decoration: underline;
}

.nav-button {
  padding: 3px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.nav-button>div:last-child {
  text-align: end;
}

.nav-button>div:nth-child(2) {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: bold;
}

.nav-button>div:nth-child(odd) {
  font-size: 14px;
}

/* -----------------Home Page Main------------------ */
main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

/* -----------------CV page------------------ */
.cv-section {
  margin: 20px 6px;
  width: 75ch;
}

.cv-header {
  display: flex;
  background-color: #cfd2b2;
}

.cv-header>h1 {
  width: 100%;
  margin: 0;
  color: #222429;
}

.section-header {
  border-bottom: 1px solid #222429;
  margin-bottom: 10px;
}

.section-header>h1>span {
  font-size: 64px;
}

.article-header {
  padding-left: 3px;
}

.article-header>h1>span {
  font-size: 48px;
}

.cv-header a {
  text-decoration: none;
}

.cv-header a:hover {
  text-decoration: underline;
  color: #222429;
}

.cv-header a>h1 {
  font-size: 16px;
  color: #222429;
  margin: 0 10px 0 0;
  display: flex;
  align-items: center;
  height: 100%;
}

.cv-header>h1>span {
  font-weight: bold;
  border-right: 1px solid #222429;
  color: #222429;
  margin-right: 5px;
  padding-right: 4px;
}

.cv-article {
  border-left: 1px solid #cfd2b2;
}

.cv-article>p {
  font-size: 14px;
  margin: 0;
  padding: 8px 4px;
}

/* -----------------Footer------------------ */
.social-links-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: repeat(3, 80px);
  justify-content: center;
  gap: 1px;
  grid-template-areas:
    ". li . ."
    "fb gh gh ."
    ". gh gh gm";
  margin: 5px;
}

.social-link {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 4px;
  background-color: #cfd2b2;
}

.social-links-wrapper a {
  text-decoration: none;
  color: black;
}

.social-link-sign {
  align-self: center;
  flex-grow: 1;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.social-link-name {
  align-self: flex-end;
  font-size: 11px;
}

.focal-link>.social-link-sign {
  font-size: 90px;
}

.social-link-icon {
  flex: 0 0 20px;
  align-self: flex-start;
}

#gh {
  grid-area: gh;
}

#fb {
  grid-area: fb;
}

#li {
  grid-area: li;
}

#gm {
  grid-area: gm;
}

/* -----------------Media Queries------------------ */
@media screen and (min-width: 415px) {
  .nav-list a {
    flex: 0 0 100px;
    height: 100px;
    border-bottom: none;
    border-top: none;
  }

  nav {
    border: 1px solid #cfd2b2;
    border-left: none;
  }

  .home-page-heading {
    font-size: calc(2rem + 2vw);
  }
}

@media screen and (min-width: 760px) {
  .social-links-wrapper {
    grid-template-columns: repeat(4, 120px);
    grid-template-rows: repeat(3, 120px);
    margin: 10px;
  }

  .social-link-sign {
    font-size: 50px;
  }

  .focal-link>.social-link-sign {
    font-size: 140px;
  }

  .social-link-name {
    font-size: 14px;
  }

  .social-link-icon {
    flex-basis: 25px;
  }

  .cv-article>p {
    font-size: 17px;
  }
}