/* -----------------General------------------ */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #222429;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
  font-family: "IBM Plex Mono", monospace;
  font-weight: lighter;
  color: white;
}

.back-to-top-link {
  position: fixed;
  left: 20px;
  bottom: 30px;
  opacity: 50%;
  transition: opacity 250ms ease-in;
}

.back-to-top-link:hover {
  opacity: 100%;
}

menu {
  padding: 0;
  margin: 0;
}

/* -----------------Header------------------ */
nav ul {
  margin: 1px;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  border: 1px solid #cfd2b2;
}

nav a {
  width: 25vw;
  height: 25vw;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #cfd2b2;
  text-decoration: none;
}

nav a:hover {
  background-color: #cfd2b2;
  color: black;
}

nav li:last-child a {
  border-right: none;
}

nav li div:last-child {
  text-align: end;
}

nav li div:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  font-size: 2rem;
  font-weight: bold;
}

nav li div:nth-child(odd) {
  font-size: 0.9rem;
  padding: 2px;
}

.current-page {
  text-decoration: underline;
}

/* -----------------Main------------------ */
main {
  margin: 50px 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

/* -----------------CV page------------------ */
.cv-section {
  width: 75ch;
}

.cv-header {
  display: flex;
  background-color: #cfd2b2;
}

.cv-header>h1 {
  width: 100%;
  margin: 0;
  color: #222429;
}

.section-header {
  border-bottom: 1px solid #222429;
  margin-bottom: 10px;
}

.section-header>h1>span {
  font-size: 64px;
}

.article-header {
  padding-left: 3px;
}

.article-header>h1>span {
  font-size: 48px;
}

.cv-header a {
  text-decoration: none;
}

.cv-header a:hover {
  text-decoration: underline;
  color: #222429;
}

.cv-header a>h1 {
  font-size: 16px;
  color: #222429;
  margin: 0 10px 0 0;
  display: flex;
  align-items: center;
  height: 100%;
}

.cv-header>h1>span {
  font-weight: bold;
  border-right: 1px solid #222429;
  color: #222429;
  margin-right: 5px;
  padding-right: 4px;
}

.cv-article {
  border-left: 1px solid #cfd2b2;
}

.cv-article>p {
  font-size: 14px;
  margin: 0;
  padding: 8px 4px;
}

/* -----------------About page------------------ */

.about-section-header {
  background-color: #cfd2b2;
  padding: 20px 0;
}

.about-section-header h1 {
  margin: 0;
  font-size: 1.25rem;
  color: #222429;
}

.hard-skills-wrapper {
  display: flex;
  flex-flow: row wrap;
}

.skill-cell {
  display: flex;
  border-top: 1px solid #222429;
  border-right: 1px solid #222429;
  padding: 4px;
  flex-direction: column;
  height: 100px;
  background-color: #cfd2b2;
  flex: 0 0 100px;
}

.black-bg {
  background-color: black;
}

.skill-icon {
  height: 50%;
  flex-grow: 1;
}

.skill-number,
.skill-name {
  font-family: "IBM Plex Mono", monospace;
  font-size: small;
}

.skill-name {
  text-align: end;
}

/* -----------------Blog page------------------ */

/* blog section */
.blog-section {
  width: 100%;
}

.blog-section-header {
  background-color: #b2d2b8;
}

.blog-section-header h1,
span {
  color: black;
}

.blog-section-header span {
  margin-right: 3px;
  padding-right: 3px;
  font-size: 48px;
  font-weight: bold;
  border-right: 1px solid #222429;
}

/* blog post */
.blog-post {
  border: 1px solid #b2d2b8;
  border-top: none;
  margin-top: 10px;
}

.blog-post p {
  padding: 8px;
  margin: 0;
}

.blog-post-header h1 {
  border-bottom: 1px solid #222429;
}

.blog-post-header h1,
h2 {
  margin: 0;
  color: black;
  background-color: #b2d2b8;
}

.blog-post-header h1 span {
  margin-right: 3px;
  padding-right: 3px;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  border-right: 1px solid #222429;
}

.blog-post-header h2 {
  display: flex;
  border-bottom: 1px solid #222429;
}

.blog-post-header h2 span {
  border-right: 1px solid #222429;
  font-size: 28px;
  padding: 4px;
}

.blog-post-header img {
  width: 100%;
}

/* -----------------Footer------------------ */

.social-links-wrapper {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: repeat(3, 80px);
  justify-content: center;
  gap: 1px;
  grid-template-areas:
    ". li . ."
    "fb gh gh ."
    ". gh gh gm";
  margin: 5px;
}

.social-link {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 4px;
  background-color: #cfd2b2;
}

.social-links-wrapper a {
  text-decoration: none;
  color: black;
}

.social-link-sign {
  align-self: center;
  flex-grow: 1;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.social-link-name {
  align-self: flex-end;
  font-size: 11px;
}

.focal-link>.social-link-sign {
  font-size: 90px;
}

.social-link-icon {
  width: 20px;
  align-self: flex-start;
}

#gh {
  grid-area: gh;
}

#fb {
  grid-area: fb;
}

#li {
  grid-area: li;
}

#gm {
  grid-area: gm;
}

/* -----------------Media Queries------------------ */
@media screen and (min-width: 460px) {

  nav a {
    width: 115px;
    height: 115px;
  }

  nav li:last-child a {
    border-right: 1px solid #cfd2b2;
  }

  nav li div:nth-child(2) {
    font-size: 3rem;
  }

  .home-page-heading {
    font-size: calc(2rem + 2vw);
  }

  .blog-section {
    width: 80%;
  }

  .blog-posts-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .blog-section-header,
  .blog-post {
    margin-left: 20px;
  }

  .blog-post {
    width: 80%;
  }

  .blog-post img {
    height: 250px;
    object-fit: cover;
  }
}

@media screen and (min-width: 760px) {
  .social-links-wrapper {
    grid-template-columns: repeat(4, 120px);
    grid-template-rows: repeat(3, 120px);
    margin: 10px;
  }

  .social-link-sign {
    font-size: 50px;
  }

  .focal-link>.social-link-sign {
    font-size: 140px;
  }

  .social-link-name {
    font-size: 14px;
  }

  .social-link-icon {
    width: 25px;
  }

  .cv-article>p {
    font-size: 17px;
  }

  .about-section {
    width: 720px;
  }

  .about-section-header>h1 {
    font-size: x-large;
  }

  .skill-cell {
    flex: 0 0 150px;
    height: 150px;
  }

  .blog-post {
    width: calc(50% - 20px);
  }
}

@media screen and (min-width: 900px) {
  .blog-posts-wrapper {
    justify-content: start;
  }
}

@media screen and (min-width: 1000px) {
  .blog-post {
    width: calc(33% - 20px);
  }
}

@media screen and (min-width: 1500px) {
  .blog-post {
    width: calc(25% - 20px);
  }
}

@media screen and (min-width: 2000px) {
  .blog-post {
    width: calc(20% - 20px);
  }
}